<!--The content below is only a placeholder and can be replaced.-->
<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a><br/>
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
